<div class="card">
    <img class="w-100" src="{{ imgConfig.baseUrl }}/{{ imgConfig.backdropSizes[3] }}{{ movie.backdropPath }}" alt="{{ movie.title }}" style="height: 300px; object-fit: cover;" />
    <div class="card-body">
        <div class="card-title">
            <h5>{{ movie.title }}</h5>
        </div>
    </div>
</div>
